.button{
    background-color: brown;
    color: white;
}

.square{
    background-color: blue;
    width: 300px;
    height: 300px;
}
.text{
    margin-left: 700px;

}
.button1{
    background-color: brown;
    width: 200px;
    height: 30px;
    color: white;
}
.buttons{
    margin-left: 550px;
}
.player{
    position: absolute;
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 100px;
    margin-left: 550px;
}
.arrow{
   margin-left: 600px;

}