
.body6{
    background-color: #ffffff;
    border-radius: 12px;
    width: 400px;
    height: 200px;
    margin-left: 600px;
    margin-top: 200px;
}
.text{
    text-align: center;
   padding-top: 50px;
}
.delete{
    background-color: red;
     width: 100px;
     height: 30px;
}
.cancel2{
    background-color: gray;
    width: 100px;
    height: 30px;
}
.body7{
    margin-top: 50px;
    margin-left: 100px;
    gap: 20px;
}
.label{
    margin-left: 20px;
}
.update{
    width: 100px;
    height: 35px;
    background-color: rgb(22, 88, 22);
    color: #ffffff;
    margin-left: 120px;
    margin-top: 50px;
}
.cancel1{
    background-color: rgb(156, 10, 10);
     width: 100px;
    height: 35px;
     color: #ffffff;
}
.body5{
    background-color:white;
    border: 3px solid gray;
    width: 500px;
    height: 400px;
    margin-left: 600px;
    margin-top: 200px;
    border-radius: 25px;

}
.grid1{
    gap: 30px;
    margin-left: 40px;
}
.save{
    background-color: rgb(156, 10, 10);
    margin-left: 150px;
}
.cancel{
    background-color: rgb(156, 10, 10);
}
.new{
    text-align: center;
}
.input{
    width: 70%;
    margin-left: 20px;
}
.grid{
    gap: 10px;
}
.save{
    background-color: rgb(156, 10, 10);
    margin-left: 150px;
}
.cancel{
    background-color: rgb(156, 10, 10);
}
.body4{
    background-color: rgb(147, 82, 82);
    border: 1px solid gray;
    width: 500px;
    height: 400px;
    margin-left: 600px;
    margin-top: 200px;
}

.table{
    margin-left: 500px;
    margin-top: 100px;
}
body{
    background-color: rgb(137, 137, 153);
}
.button{
    background-color: rgb(177, 91, 91);
}
.Add1{
    background-color: rgb(159, 81, 81);
}