body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
}

 .title {
   font-size: 24px;
     margin-bottom: 20px;
 }


        .images {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

.images img {
            max-width: 100%;
            height: auto;
            margin: 0 10px;
 }

.button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
 }

body.dark-mode {
            background-color: #333;
            color: #fff;
}

body.dark-mode .button {
            background-color: #555;
 }
.imgs{
            width: 50px;
            height: 50px;
 }